.modal-add-container {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-add-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 2rem 2rem;
  border: 2px solid black;
  width: 30%;
}

.add-input-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.modal-add-title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.input-label {
  font-size: 1.6rem;
}

.input-container input {
  height: 2rem;
}

.btn-close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.btn-add {
  width: 20rem;
  align-self: center;
  margin-top: 1.5rem;
  border-color: transparent;
  border-radius: 0.375rem;
  border-width: 1px;
  font-size: 1.4rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.5rem;
  min-width: 100px;
  padding: 1rem 1.5rem;
  background-color: rgba(206, 151, 62, 0.9);
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-add:hover {
  background-color: rgba(206, 151, 62, 0.8);
}
