.vm-info {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.vm-icon {
    height: 4rem;
    width: 4rem;
}

.vm-name {
    font-size: 1.4rem;
    color: #343a40;
}

.turn {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: green;
    border: 1px solid black;
    justify-self: flex-end;
}